
body {
    background-color: #1D4221;
}

body {
    background-color: #1D4221;
    color: white;
}
/* código omitido */

body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
